# ===============================
# .NET
# ===============================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / Visual Studio
.vs/
.idea/

# ===============================
# Node / React
# ===============================
node_modules/
dist/
build/
.vite/

# ===============================
# Env / secrets
# ===============================
.env
.env.local

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
